
body {
background: url("https://raw.githubusercontent.com/arrowarchive/LoZ/master/docs/triforce.png");
/*font-family: arial, helvetica, sans-serif;*/
color: white;

font-family: "Times New Roman", Times, serif;
}



ol {list-style-type: lower-alpha;
padding: 5em;
    
}
button {
    margin-top: 45px;
    margin-bottom:45px;
    background-color: #ffd94f;
    color: black;
    outline:none;
    padding: 15px 32px;
    font-size: 24px;
    display: inline-block;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #999;
    }
button:active {
  background-color: #609c63;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: white;
}

button:hover {
background-color: #609c63;
color: white;
}