
body {
background: url("https://raw.githubusercontent.com/arrowarchive/LoZ/master/docs/triforce.png");
/*font-family: arial, helvetica, sans-serif;*/
color: white;

font-family: "Times New Roman", Times, serif;
}



ol {list-style-type: lower-alpha;
padding: 5em;
    
}
